body,
div, 
h3 {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
}

.side-bar {
    grid-column: 1;
    grid-row: 1 / -1;
    background-color: #0ea5e9;
    z-index: 3;
}

.header {
    grid-column: 2 / -1;
    grid-row: 1;
    background-color: white;
    box-shadow: 0 3px 5px lightgray;
    z-index: 2;
}

.main-content {
    grid-column: 2/ -1;
    grid-row: 2 / -1;
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px 30px 40px 20px;
    z-index: 1;
    column-gap: 20px;
}

.main-content > .project,
.info-col > .announcements,
.info-col > .trending {
    display: grid;
    grid-template-rows: 1.5rem 1fr;
    gap: 5px;
}

.project > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.card {
    background-color: white;
    box-shadow: 4px 4px 5px lightgray;
    border-radius: 5px;
}

.main-content > .info-col {
    grid-column: 2 / -1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
}

.info-col > .announcements {
    grid-row: 1 / 2;
}

.info-col > .trending {
    grid-row: 2 / -1;
}

.announcements > .card,
.trending > .card {
    display: grid;
    grid-template-columns: 1fr;
}

.project > h3 {
    grid-area: 1 / 1 / 2 / -1;
}