@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body,
div, 
h3,
button {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    font-family: "Noto Sans", sans-serif, 'Times New Roman', Times, serif;
}

.side-bar .icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(347deg) brightness(101%) contrast(101%);
    height: 100%;
    width: 100%;
}

.side-bar {
    grid-column: 1;
    grid-row: 1 / -1;
    background-color: #0ea5e9;
    z-index: 3;
    display: grid;;
    grid-template-rows: 1fr 4fr 4fr;
    color: white;
    gap: 25px;
    padding: 25px;
}

.side-bar > .menu {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.side-bar > .setting {
    display: grid;
    gap: 20px;
    align-content: start;
}

.menu > a,
.setting > a,
.side-bar > a {
    display: grid;
    gap: 15px;
    place-items: center start;
    text-decoration: none;
    color: inherit;
}

.menu > a,
.setting > a {
    grid-template-columns: 1fr 9fr;
    font-size: 1rem;
}

.side-bar > a {
    grid-template-columns: 3fr 7fr;
    font-size: 1.7rem;
    font-weight: bold;
}

.header {
    grid-column: 2 / -1;
    grid-row: 1;
    background-color: white;
    box-shadow: 0 3px 5px lightgray;
    z-index: 2;
    display: grid;;
    grid-template: repeat(2, 1fr) / 3fr 2fr; 
    padding: 20px 10px 10px 10px;
}

.header > .search-area {
    display: grid;
    grid-template-columns: 5% 50%;
    align-self: start;
}

form > button {
    background-color: white;
    border: none;
}

form > input {
    border-radius: 15px;
    background-color: #e2e8f0;
    border-style: none;
    padding-left: 10px;
}

.header > .profile-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: start center;
}

.profile-menu div {
    justify-self: start;
    font-size: 0.8rem;
    font-weight: bold;
}

.header > .user-greet {
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr 5fr;
}

.icon.user-icon {
    grid-row: span 2;
}

.user-greet div:nth-child(2) 
{   align-self: center;
    font-size: 0.8rem;
}

.user-greet div:last-child {
    font-size: 1.2rem;
    font-weight: bold;
}

.header > .user-edit {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center stretch;
    gap: 20px;
}

.user-edit > button {
    background-color: #0ea5e9;
    color: white;
    border: none;
    border-radius: 18px;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
}

.main-content {
    grid-column: 2/ -1;
    grid-row: 2 / -1;
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px 30px 40px 20px;
    z-index: 1;
    column-gap: 20px;
}

.main-content > .project,
.info-col > .announcements,
.info-col > .trending {
    display: grid;
    grid-template-rows: 1.5rem 1fr;
    gap: 5px;
}

.project > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.project > div > div {
    border-left: gold solid 6px;
}

.card {
    background-color: white;
    box-shadow: 4px 4px 5px lightgray;
    border-radius: 5px;
}

.main-content > .info-col {
    grid-column: 2 / -1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
}

.info-col > .announcements {
    grid-row: 1 / 2;
}

.info-col > .trending {
    grid-row: 2 / -1;
}

.announcements > .card,
.trending > .card {
    display: grid;
    grid-template-columns: 1fr;
}

.project > h3 {
    grid-area: 1 / 1 / 2 / -1;
}